
body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    background: linear-gradient(-45deg, #1d042b,#ee083a, #d48308,#0bc990, #d14eb5,#7a23eb,#3c5806, #a0b4d3); 
    background-size: 700% 700%;
    animation: gradient 7s ease infinite;
    background-attachment: fixed;
    padding-bottom: 90px;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.name_container{
    text-align: center;
    margin-top: 230px;
}
#name{
    font-family: 'Ubantu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
#name_inp
{
    width: 300px;
    border-bottom: rgb(40, 13, 192) 2px solid;
    border-top:none ;
    border-left: none;
    border-right:none ;
    outline: none;
    background: none;
    color: black;
    font-size: 20px;
    font-family:'Ubantu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#name_inp::placeholder{
    color: snow;
    font-size: 18px;
    font-family: 'Ubantu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
    margin-top: 80px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:rgb(43, 5, 180);
    color: white;
    font-size: 16px;
    font-family: 'Ubantu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .btn:hover {
    background-color: #063302;
    color: snow
  } 
  
  /* Details.html CSS */

  .container{
      margin: 70px auto;
      width: 500px;
      height: 400px;
      border-radius: 20px;
      background-color: rgba(48, 16, 224, 0.2);
      border: rgb(26, 74, 231) 2px solid;
      box-shadow: 2px 10px 25px rgba(72, 41, 185, 0.8);
      padding: 10px;

  }
  .list1{
      margin-top: 70px;
      list-style: circle;
      color: white;
      font-size: 20px;
      margin-left: 124px;
      font-family: 'Ubantu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .list1 li{
      margin-top: 15px ;
  }
  #welcome{
    color: blanchedalmond;
    font-family: 'Ubantu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size:50px;
    text-align: center;
   
  }
  #start{
      margin-top: 40px;
      color: rgb(35, 11, 139);
      background-color: snow;
      padding: 12px 25px;
      border-radius: 100px;
      border: black 2px solid;
      font-size: 17px;
      font-family: 'Merienda', cursive;
      font-weight: 700;
      margin-left: 36%;
      outline: none;
   }
#start:hover{
    background-color: rgb(7, 100, 72);
    color:snow;
}  

/* quiz.html css */

.container2
{
    margin: 70px auto;  
    width: 600px;
    height: 500px;
    border: 20px;
    background-color: rgba(29, 238, 238, 0.2);
    border: rgb(21, 8, 201) 2px solid;
    box-shadow: 2px 10px 25px rgba(16, 13, 230, 0.8);
    padding: 10px;
}
#paper h3{
    color: rgb(14, 3, 3);
    font-family:'sans-serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
#paper_status{
    color: rgb(201, 20, 20);
    font-size: 28px;
    font-family:'sans-serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    margin-left: 20px;
}
#paper label{
    color: rgb(12, 8, 8);
    line-height: 40px;
font-family:'sans-serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: 600; 
    letter-spacing: 2px;  
}
#paper{
    margin-left: 20px;
}
#paper button{
    float: right;
    color: rgb(71, 18, 214);
    background-color: snow;
    padding: 12px 25px;
    border-radius: 100px;
    border: rgb(14, 3, 3) 2px solid;
    font-size: 17px;
    font-family: 'sans-serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-right: 30px;
    outline: none;
    
}
#paper button:hover{
    background-color: rgb(24, 240, 71);
    color:snow;
} 
#paper a button{
    margin-top: 10px;
    margin-right: 228px;
    color: rgb(64, 17, 173);
    background-color: snow;
    padding: 12px 25px;
    border-radius: 100px;
    border: snow 2px solid;
    font-size: 17px;
    font-family: 'sans-serif',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    outline: none;

}
#paper label:hover{
    background-color: rgb(17, 173, 173);
    border: turquoise 2px solid;
    border-radius: 100px;
    padding: 4px 6px;
}
#paper h2{
    color: snow;
    font-family:'Balsamiq Sans', cursive;
    font-size: 23px;
    font-weight: 300; 
    text-align: center;
    line-height: 1px;
}
#paper_status h1{
    font-size:35px;
    text-align: center;
}
#paper img {
    width: 200px;
    height: 180px;
    margin-left: 182px;
    margin-top: -60px;
}
#time{
    color: rgb(227, 227, 236);
    font-family: 'sans-serif',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 480px){
.container{
        
        width: 270px;
        height: 450px;
        padding: 7px;
  
    }
#welcome{
        font-size:30px;
       
      }
    .list1{
        margin-top: 70px;
        font-size: 19px;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 35px;
       
    }
#start{
        margin-top: 70px;
        padding: 9px 22px;
        font-size: 16px;
        margin-left: 26%;
       }
.container2
    {
    width: 285px;
    height: 500px;
    padding: 10px;
   }
#paper h3{
    font-size: 23px;
    margin-left: -3px;
    margin-top: 40px;

}
#paper_status{
    font-size: 26px;
    margin-left: 10px;
}
#paper label{
    margin-left: -10px;
    line-height: 43px;
    font-size: 17px;
    letter-spacing: 2.5px;  
}
#paper{
    margin-left: 10px;
}
#paper button{
    margin-top: 7px;
    padding: 9px 22px;
    font-size: 15px;
    margin-right: 20px;
    }
 
#paper a button{
    margin-top: 30px;
    margin-right:84px;
    padding: 9px 22px;
    font-size: 15px;
}
#paper h2{
    margin-left: -10px;
    margin-top: 20px;
    font-size: 19px; 
}
#paper_status h1{
    font-size:27px;
}
#paper img {
    width: 150px;
    height: 133px;
    margin-left: 60px;
    margin-top: -40px;
}
#time{
    font-size: 16px;
    margin-left: 10px;
    margin-top: 20px;
}
}